.teacher_image {
  width: 45px;
  height: 45px;
}

.columns_operation {
  span {
    margin-right: 8px;
    color: #1890ff;
    cursor: pointer;
    &:hover {
      color: #40a9ff;
    }
  }
}

.form_content {
  padding: 10px 20px;
  width: 650px;
}
