.logo {
  color: #fff;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-right: 10px;
  }
  > span {
    font-weight: 500;
    font-size: 20px;
  }
}
.content_laypout {
  min-height: calc(100vh - 120px);
}
